<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cg programming task 1</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="input-container">
        <p>choose action</p> <br>
            <select name="action" id="action-menu" >
                <option value="translate">translate</option>
                <option value="rotate">rotate</option>
                <option value="scale" step="0.01"  min="0" max="1">scale</option>
            </select>
        <p>Insert input values here</p>
        <input type="number" name="tranX" id="X-value" placeholder="enter X value">
        <input type="number" name="tranY" id="Y-value" placeholder="enter Y value">
        <button id="action-btn">Apply</button>
    </div>

    <div class="drawing-area">
        <!-- insert your shape inside this div -->
        <div class="container" id="theShape">
            <div class="shape duck-body"></div>
            <div class="shape feather"></div>
            <div class="shape eye"></div>
            <div class="shape beak"></div>
            <div class="shape leg"></div>
        </div>
    </div>
    <script src="../static/app.js"></script>
</body>
</html>