<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cg programming task 1</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    <p>Insert translation values here</p>
    <input type="number" name="tranX" id="transX-value" placeholder="enter X trans (pixels)">
    <input type="number" name="tranY" id="transY-value" placeholder="enter Y trans (pixels)">
    <button id="translate-btn">translate</button>

    <div id="shape">
        <div class="rectangle"></div>
    </div>
    <script src="../static/app.js"></script>
</body>
</html>