<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cg programming task 1</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="input-container">
        <p>Insert translation values here</p>
        <input type="number" name="tranX" id="X-value" placeholder="enter X value">
        <input type="number" name="tranY" id="Y-value" placeholder="enter Y value">
        <button id="action-btn">translate</button>
    </div>

    <div class="drawing-area">
        <!-- insert your shape inside this div -->
        <div class="container">
            <div class="duck-body"></div>
            <div class="feather"></div>
            <div class="eye"></div>
            <div class="beak"></div>
            <div class="leg"></div>
          </div>
    </div>
    <script src="../static/app.js"></script>
</body>
</html>